.jumbotron{
  background-color: yellow;
  color: black;
  margin-top: 50px;
}

.footer {
  padding: 50px 50px 0 50px;
  background-color: yellow;
  margin-bottom: 20px;
  margin-top: 10px;
}
.card-hotel{
  flex: 1 100px;
  padding: 2px 5px 2px 5px;
  margin-top: 10px;
}
 .btn-reserve{
   width: 100%;
 }
